body {
  margin: 0;
  padding: 0;
  background-color: #f5f3e6;
}
* {
  box-sizing: border-box;
}
#page-header {
  margin: 0 0 20px 0;
  padding: 5px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cbc9be;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  color: #5b524f;
  font-size: 18px;
  line-height: 1;
}
#page-menu {
  visibility: hidden;
}
#page-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  font-family: 'Tangerine', cursive;
}
#page-footer {
  margin: 0;
  padding: 32px;
  width: 100%;
  background-color: #cbc9be;
  color: #5b524f;
  font-size: 14px;
  text-align: center;
}
.footer-title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  font-family: 'Tangerine', cursive;
}
.twitter-link {
  color: #1da1f2;
  text-decoration: none;
}

#wrapper {
  width: 642px;
  margin: 0 auto;
}
#content {
  position: relative;
  margin: 10px 0 80px 0;
  width: 640px;
  height: 640px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}
#canv-draw,
#canv-shade {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
canvas {
  margin: 0;
  padding: 0;
}
#canv-draw {
  cursor: crosshair;
  opacity: 0;
  z-index: 1;
}
#canv-shade {
  pointer-events: none;
  z-index: 0;
}
#pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
  transition: opacity 0.3s;
}
#controls {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
  color: #fff;
  font-size: 18px;
}
#controls *:focus{
  outline: none;
}
#controls .title {
  margin: 0 20px 0 0;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
}
#controls .group {
  margin: 0 10px;
}
#controls button {
  height: 36px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
}
#controls button:hover {
  background-color: #555;
}
#controls button:focus,
#controls button:active {
  background-color: #444;
}

#controls button.active{
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}
#slider-pen-size {
  width: 100px;
}
#slider-pen-size .ui-slider-handle {
  width: 18px;
  height: 18px;
  border-radius: 40px;
}
#slider-pen-size.ui-slider-horizontal {
  height: 9px;
  background-color: transparent;
}
#resize-controls {


}